/* General Styles */
body {
    padding: 10px 200px;
    background-color: #fff8dc;
    height: 100%;
    overflow-y: auto;
}

h2,
h3 {
    color: #333;
}


/* Easter Eggs*/
#easteregg-area {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin-top: 10%;
    margin-left: 40%;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height: 500px;

}

.modal-content2 {
    background-color: white;
    margin-top: 2%;
    margin-left: 25%;
    padding: 20px;
    border: 1px solid #888;
    width: 1000px;
    height: 800px;

}

.close-btn,
.close-btn-2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus,
.close-btn-2:hover,
.close-btn-2:focus,
.redbutton {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.redbutton {
    color: black;
    background-color: red;
}



/* Layout Styles */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-shadow: 0 4px 8px #B8B7A3;
    box-sizing: border-box;
    border: 2px solid #464646;
    background-color: #B8B7A3;

}

.content {
    width: calc(100% - 400px);
    padding: 30px;
    height: calc(100vh - 40px);
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
    height: calc(100vh - 40px);
}


/* Profile Styles */
.profile img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile h2 {
    margin: 10px 0 5px;
    color: white;
}


/* Index Styles */

.takemethere {
    margin-top: 30px;
}

.indexbox a {
    text-decoration: none;
    background-color: #B8B7A3;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.indexbox a:hover {
    background-color: #555;
    color: #fff8dc;
}

.smallportfoliobox .portfolio-button:hover {
    background-color: #a3a297;
}

.indexbox span {
    margin-top: -15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    display: block;
}

/* Links Styling */
.links {
    list-style: none;
    margin-top: 40px;
    text-align: center;
    margin-right: 35px;
}

.links li {
    margin-bottom: 15px;
    list-style-type: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.links a:hover {
    background-color: #555;
    color: #f4f4f4;
}

/* Other Styles */
.contact {
    margin-top: 18px;
}

.contact a {
    color: white;
    text-decoration: none;
}

/* Navigation Styles */
.index .navigation[href="index.html"],
.aboutme .navigation[href="aboutme.html"],
.cv .navigation[href="cv.html"],
.portfolio .navigation[href="portfolio.html"],
.contact .navigation[href="contact.html"] {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

/* Presentation Styles */
.header {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #333;
}

.header p {
    margin-top: 25px;
    font-size: 45px;
    color: #B8B7A3;
}

.presentationcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.workexperience {
    place-items: center;
    width: 75%;
    height: 85vh;
    margin-left: 20px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 20px;
}

.workexperience p {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 35px;
    color: #B8B7A3;
}

.workexperience li {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 17px;
    color: white;
    margin-bottom: 5px;
    padding: 20px;
}


.smallerpresentationcontainers {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.smallpresentationbox {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 1000px;
    height: 250px;
    margin-bottom: 20px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 20px;
}

.smallpresentationbox span {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -25px;
    font-size: 20px;
    color: white;
    display: block;
}

.smallpresentationbox p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 35px;
    color: #B8B7A3;
}

.smallpresentationbox li {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -50px;
    font-size: 20px;
    color: white;
    padding: 20px;
}

/* CV Styles */

.cvcontainer,
.indexcontainer,
.smallerportfoliocontainers {
    padding: 20px;
}

.cvbox,
.indexbox {
    width: 100%;
    height: 85vh;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 20px;
}

.cvbox p,
.indexbox p {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    color: #B8B7A3;
}

.cvbox span {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    list-style-type: none;
    display: block;
}

/* Portfolio Styles */
.smallerportfoliocontainers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.smallportfoliobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #333;
    border: 2px solid #333;
    border-radius: 20px;
}

.smallportfoliobox p {
    text-align: center;
    font-size: 35px;
    color: #B8B7A3;
    margin-bottom: 10px;
}

.smallportfoliobox span {
    font-size: 20px;
    list-style-type: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: -10px;
    display: block;
}

/* Button Styling */
.smallportfoliobox .portfolio-button {
    background-color: #B8B7A3;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

.smallportfoliobox .portfolio-button:hover {
    background-color: #a3a297;
}

/* Image Styling */
.portfolioimg {
    width: 50px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: #d1d3d5;
    margin-top: 10px;
}

.portfolioimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.portfolio-button a,
.modal__window a {
    color: white;
    text-decoration: none;
}

#modal,
#modal_numbersgame,
#modal_schoolprogram {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal__window {
    position: relative;
    background-color: #333;
    height: 300px;
    padding: 4em 2em;
}

.modal__close {
    color: white;
    position: absolute;
    margin-top: -84px;
    margin-right: 5px;
    right: 0;
}

.modal__close h1:hover {
    color: #B8B7A3;
}


#modal:not(:target),
#modal_numbersgame:not(:target),
#modal_schoolprogram:not(:target) {
    visibility: hidden;
    opacity: 0;
}

.modal__window h2 {
    display: grid;
    place-items: center;
    margin-top: 0px;
    font-size: 45px;
    color: #B8B7A3;
}

.modal__window p {
    font-size: 20px;
    color: white;
    word-wrap: break-word;
    width: 700px;
}

.githublink a {
    display: grid;
    place-items: center;
    font-size: 30px;
    margin-top: 50px;
    color: white;
    text-decoration: none;
}

.githublink a:hover {
    color: #B8B7A3;
}





/* Media Queries for Responsiveness */

/* For screens smaller than 1200px */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .content {
        width: 100%;
        padding: 20px;
    }

    .sidebar {
        width: 640px;
        height: auto;
        padding: 20px;
    }

    .profile img {
        width: 120px;
    }

    .indexbox a {
        font-size: 18px;
        padding: 8px 16px;
    }

    .links {
        justify-content: center;
        width: 50px;
    }

    .links ul {
        display: flex;
        justify-content: center;
        width: 90px;
        margin-left: 240px;
        gap: 40px;
    }

    .workexperience {
        width: 300px;
        margin-right: 30px;
    }

    .workexperience p {
        font-size: 20px;
        margin-top: 30px;
    }

    .workexperience li {
        font-size: 20px;
        margin-left: -10px;
        margin-right: -20px;
        margin-top: -10px;
    }

    .smallerpresentationcontainers {
        flex-direction: column;
    }

    .smallpresentationbox {
        width: 280px;
        height: 220px;
        margin-right: 10px;
    }

    .smallpresentationbox p {
        font-size: 20px;
        margin-top: 0px;
    }

    .smallpresentationbox span {
        font-size: 15px;
        margin-top: -50px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
    }

    .smallpresentationbox li {
        font-size: 15px;
        margin-top: -60px;
        margin-left: -10px;
        margin-right: -20px;
    }

    .cvbox p {
        font-size: 25px;
    }

    .indexbox li {
        font-size: 15px;
        margin-top: -20px;
    }

    .smallportfoliobox {
        width: 95%;
        height: 200px;
    }

    .portfolioimg {
        width: 150px;
        height: 150px;
    }

    .header {
        height: 70px;
        width: 95%;
    }

    .header p {
        margin-top: 8px;
    }

    .indexbox {
        width: 95%;
        height: 700px;
    }

    .cvbox {
        height: 720px;
        width: 95%;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 360px;
        height: auto;
        padding: 15px;
    }

    .content {
        width: 100%;
        padding: 15px;
        height: 100%;
    }

    .modal-content,
    .modal-content2 {
        width: 90%;
        height: auto;
        margin: 10% auto;
        padding: 15px;
    }

    .workexperience {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 15px;
    }

    .smallportfoliobox,
    .indexbox {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        padding: 15px;
        margin-left: -31px;
    }

    .cvbox {
        width: 350px;
        height: auto;
        margin-bottom: 15px;
        padding: 15px;
        margin-left: -31px;
    }

    .cvbox span {
        margin-left: 10px;
    }

    .indexbox p {
        margin-left: 10px;
        font-size: 20px;
    }

    .smallpresentationbox {
        width: 150px;
        height: 400px;
        margin-bottom: 15px;
        padding: 15px;
        margin-left: -31px;
    }

    .header {
        height: 70px;
        width: 95%;
        margin-left: -6px;
    }

    .header p {
        font-size: 30px;
        text-align: center;
    }

    .workexperience p,
    .smallpresentationbox p,
    .cvbox p {
        font-size: 25px;
        margin: 10px;
    }

    .links {
        margin-right: 0;
    }

    .links ul {
        display: flex;
        justify-content: center;
        width: 90px;
        margin-left: 95px;
        gap: 10px;
    }

    .links a {
        color: white;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 8px 12px;
        border-radius: 5px;
        height: 40px;
        transition: background-color 0.3sease, color 0.3sease;
    }

    .portfolioimg {
        width: 100%;
        height: auto;
    }

    .indexbox span {
        margin-top: -15px;
        margin-left: 10px;
        margin-right: 50px;
        font-size: 20px;
        color: white;
        display: block;
    }

    .modal__window {
        position: relative;
        background-color: #333;
        height: 300px;
        padding: 4em 2em;
    }
}